on: [push, pull_request]

defaults:
  run:
    shell: bash

jobs:
  main:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
    
    runs-on: ${{ matrix.platform }}
    
    steps:
    - uses: actions/checkout@v2
    - run: g++ -o hello hello.cpp
    - run: PATH=$PATH:. hello 100
